@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  font-family: 'Poppins', sans-serif;
  background: #14213d;
}
nav{
  position: fixed;
  top: 0;
  right: 0;
  color: white;
  left: 0;
  box-shadow: -5px 19px 36px -8px rgba(0,0,0,0.1);
}
main{
  padding-top: 15dvh;
}
.time{
  font-size: 5rem;
}
.fulldate{
  padding-left : 15px;
}
.number-status{
  font-size: 2rem;
}
.aside-section{
  background: linear-gradient(to right, #4361ee, #4362eea8);
  color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 45px -4px #4362eea8;
}
.wind-humidity{
  font-size: 25pt;
}
.search-input{
  border: none;
  background: transparent;
  outline: none;
}
.card{
  background: none;
  color: white;
}
.current-weather{
  /* box-shadow: 0px 0px 48px -29px white; */
  margin-block: 15px;
  margin-left: 10px;
  border-radius: 6px;
}
table{
  background: transparent;
}